:root{
    --primary : #551a8b ;
    --secondary: #7a7a7a;
    --border-button-raduis:10px;
}

html,body {
    overflow-x: hidden;
    background-color: #ffffff;
    color: rgb(122, 122, 122);
}

.container{
    color: var(--primary);
    max-width: 1350px;
    margin: 20px auto;
    
}

.section > div input[type='button'] {
    transition: all 1s ease-out; 
    
}